.navbar-brand {
  @apply block;
}
.theme-header-logo__img img {
  width: auto;
  max-width: 100%;
  @apply max-h-9 md:max-h-12;
}
.login_modal i {
  @apply text-white mt-0;
}

.mainmenu__menu {
  .navbar-collapse {
    @apply justify-center float-none;
  }
  .navbar-nav > li {
    @apply px-6 py-4 mr-0;
    > a {
      @apply text-base;
    }
  }
}

.footer-top-area ul li a:hover {
  color: #4338ca !important;
}

footer .footer-top-area .widget_dlawyers_about .aboutwidget {
  .theme-img {
    img {
      @apply w-auto max-h-12 max-w-none;
    }
  }
  .theme-des {
    @apply text-sm;
  }
}
footer .widget h4 {
  @apply font-semibold;
}
.footer-top-area {
  #nav_menu-2 {
    @apply lg:pl-8;
  }
}

#lawyers-carousel {
  @apply pt-8 pb-20 pr-10 min-h-full;
  width: 100%;
  height: 100%;
  padding-left: 5%;
  .swiper-slide {
    @apply max-w-xs;
    min-height: 280px;
    > a {
      min-height: 280px;
    }
  }
}

.cat-box-grid {
  @apply flex-grow h-full;
}
.theme-cat-box {
  @apply h-full;
}

.directorist-listing-list {
  &.directorist-listing-single {
    .directorist-listing-single__thumb {
      @apply py-5 pl-5 w-32 lg:pl-6 lg:py-6 lg:w-[132px];
    }
  }
}

.directorist-listing-list.directorist-listing-single
  .directorist-listing-single__thumb
  .directorist-thumnail-card
  .directorist-thumnail-card-front-wrap {
  @apply rounded-full;
}

.directorist-listing-list.directorist-listing-single
  .directorist-listing-single__content
  .directorist-listing-single__info {
  @apply py-6 px-5 lg:p-6;
}

.directorist-listing-single
  .directorist-listing-single__info
  .directorist-listing-title {
  @apply mb-2;
}
.theme-rating-right {
  @apply text-sm text-gray-500;
}

.directorist-search-contents
  .directorist-search-form-top
  .directorist-search-field
  .directorist-form-element,
.directorist-search-contents
  .directorist-search-form-top
  .directorist-search-field
  .directorist-select
  .directorist-select__label {
  @apply text-gray-800;
}

.modal-title {
  @apply text-xl font-semibold;
  line-height: 34px;
}

.not-account {
  @apply text-center;
}
